<div class="body">
    <div class="row">
        <div class="col col-12 col-md-6 col-lg-3" *ngFor="let good of goods ; index as i">
            <div class="card" style="width: 18rem;height: 10px;">
                <img [src]="good.photoUrl"class="card-img-top" style="height: 250px;" >
                <div class="card-body">
                  <h5 class="card-title">{{ good.name |titlecase }}</h5>
                  <p class="card-text">{{ good.price |currency }}</p>
                  <button  class="btn btn-primary" (click)="addToCard(i)" >Add to Card</button>
                </div>
              </div>
        </div>
    </div>
</div>